@import url('https://fonts.googleapis.com/css?family=Poppins');
 
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-size: auto;
    background-repeat: no-repeat;
    background-color:#15253c;
    width:100%;
    height:550px;
    object-fit:cover;
    object-position:50% 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    min-height: 100vh;
    color: aliceblue;
}

.homie{
    display: flex;
    align-items: center;
    font-size: 35px;
    text-decoration: none;
    color: inherit;
}

.code{
    margin-left: 10px;
}

.side_features ul{
  display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.full-height-grow{
display: flex;
flex-direction: column;
}

.side_features a{
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

.side_features a:hover{
    color:gray;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.container{
max-width: 5000px;
margin: 0 auto;
padding: 0 20px;
}

.theme{
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 1rem;
    margin-left: 7rem;
    margin-top: 0;
    font-family:cursive;
}

.subtitle{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 1.2rem;
}

.main-home-section{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

.text{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-home-section .image-wrapper-left{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.main-home-section .fruit-image-left{
    background-image: url("images/result.png");
    flex-grow: 1;
    max-height: 100vh;
    min-width: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;

} 

.main-home-section .image-wrapper-right{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.main-home-section .fruit-image-right{
    background-image: url("images/result1.png");
    flex-grow: 1;
    max-height: 100vh;
    min-width: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;

} 